In [1]:
from PandasUtils import PandasUtils as cpd
import pandas as pd
import time

In [2]:
start = time.time()
actual_file_path = r'C://Desktop//Comparison//data//actual//'
expected_file_path = r'C://Desktop//Comparison//data//baseline//'

In [3]:
actual_file_name = '500000_Sales_Records'
expected_file_name = '500000_Sales_Records_copy'
file_format = 'csv'
key_columns = ['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority', 'Order Date']
ignore_columns = []

In [4]:
summary_df, summary_key_df, key_mismatche_df, cell_cmp_df = cpd.df_diff(actual_file_path, expected_file_path,
                                                                        actual_file_name, expected_file_name,
                                                                        file_format, key_columns, ignore_columns)

****************************************************************************************************
PandasUtil Data Frame Comparison - Cell by Cell comparison with detailed mismatch report
****************************************************************************************************
Step-01 : Based on file format create the df with delimiter(sep)
Step-02 : Create the summary df based on count of rows and identify the count diff
Step-03 : Remove the columns based on ignore columns list
Step-04 : Sort the df1 and df2 based on key columns and reset the index
Step-05 : Identify the rows matching based on key in both df1 and df2
Step-06 : Create the summary df based on key columns
Step-07 : Remove the mismatched key values and proceed further in validation
Step-08 : Started cell by cell comparison for key values that exist in both df1 and df2
Step-09 : Verify column data types in both the files, if not convert based on actual
Step-10 : Verify cell by cell data in both the data frame and generate mismatch report
          Failed : Cell by Cell comparison ..Started to extract mismatched column values
Step-11 : Comparison completed and generated info for reports(summary, keys mistmach, cell by cell
****************************************************************************************************

In [5]:
print(str((time.time() - start)))
summary_df

35.73107624053955

   Actual Expected Mismatch
0  500000   500000        0

In [6]:
summary_key_df

  Key_Matched Key_Mismatch Actual Expected
0      500000            0      0        0

In [7]:
key_mismatche_df

Empty DataFrame
Columns: [Order ID_x, Ship Date_x, Units Sold_x, Unit Price_x, Unit Cost_x, Total Revenue_x, Total Cost_x, Total Profit_x, Order ID_y, Ship Date_y, Units Sold_y, Unit Price_y, Unit Cost_y, Total Revenue_y, Total Cost_y, Total Profit_y, source]
Index: []

In [8]:
cell_cmp_df

                                                                                                  Expected_Data  \
Region             Country      Item Type Sales Channel Order Priority Order Date Mismatch_Column
Sub-Saharan Africa South Africa Fruits    Offline       M              7/27/2012  Units Sold               1593
                                                                                  Unit Price               9.33
                                                                                  Unit Cost                6.92
                                                                                  Total Revenue        14862.69
                                                                                  Total Cost           11023.56
                                                                                  Total Profit          3839.13

                                                                                                  Actual_Data
Region             Country      Item Type Sales Channel Order Priority Order Date Mismatch_Column
Sub-Saharan Africa South Africa Fruits    Offline       M              7/27/2012  Units Sold             1533
                                                                                  Unit Price             9.43
                                                                                  Unit Cost
                                                                                  Total Revenue      14462.69
                                                                                  Total Cost          1023.56
                                                                                  Total Profit         339.13